.root {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.45), 10, 0.0, 0, 0);
}

#close-button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}
#close-button:focused {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}
#close-button:hover {
    -fx-background-color: rgba(255, 0, 0, 0.51);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}
#close-button:pressed {
    -fx-background-color: rgba(199, 3, 3, 0.51);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}
#max-button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}
#max-button:focused{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}
#max-button:hover {
    -fx-background-color: rgba(217, 207, 207, 0.54);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}
#max-button:pressed {
    -fx-background-color: rgba(252, 241, 241, 0.54);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}
#rectangle {
    -fx-fill: rgba(0, 0, 0, 0);
}
#min-button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}
#min-button:focused{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}
#min-button:hover {
    -fx-background-color: rgba(217, 207, 207, 0.54);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}
#min-button:pressed {
    -fx-background-color: rgba(252, 241, 241, 0.54);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}

#top-window-menu {
    -fx-background-color: rgb(177, 186, 215);
    -fx-background-radius: 3 3 0 0;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 3 3 0 0;
}
#help-side-menu {
    -fx-background-color: rgb(177, 186, 215);
    -fx-background-radius: 0 0 3 3;
    -fx-border-width: 0 3 1 1;
    -fx-border-color: black;
    -fx-border-radius: 0 0 3 3;
}
#help-main-content {
    -fx-border-color: black;
    -fx-border-width: 0 1 1 0;
}
#help-textarea {
    -fx-background-color: whitesmoke;
}

#side-menu-help-button {
    -fx-background-color: rgb(177, 186, 215);
    -fx-font-family: Arial, Serif;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
#side-menu-help-button:hover {
    -fx-background-color: rgb(183, 189, 213);
}
#side-menu-help-button:selected {
    -fx-background-color: rgb(138, 147, 177);
}
#side-menu-help-button-small {
    -fx-background-color: rgb(177, 186, 215);
    -fx-font-family: Arial, Serif;
    -fx-font-size: 12;
    -fx-label-padding: 0 0 0 15;
}
#side-menu-help-button-small:hover {
    -fx-background-color: rgb(183, 189, 213);
}
#side-menu-help-button-small:selected {
    -fx-background-color: rgb(138, 147, 177);
    -fx-text-fill: white;
}

